@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    min-height: 100vh;
    background: #0E1128;
}
.nft-pro{
    width: auto;
    height: 100%;
    max-width: unset !important;
}
.head-txt{

font-size: 32px;
font-weight: 700;
line-height: 39px;
letter-spacing: 0em;
text-align: left;

}